<div *ngFor="let launchProgram of launchPrograms" class="launchPrograms">
    <div class='col-md-3'>
        <div class="mission-box card" style="width: 18rem;">
         <img class="card-img-top" [src] = "launchProgram.links.mission_patch" alt="mission-1"> 
            <div class="mission-desp">
                <h5 class='card-title'>{{launchProgram.mission_name}} #{{launchProgram.flight_number}}</h5>
                <div><strong>Mission id:</strong> 
                    <ul><li *ngFor="let missionId of launchProgram.mission_id">
                      {{missionId}}
                    </li></ul>
                   </div>
                <div><strong>Launch Year:</strong>{{launchProgram.launch_year}}</div>
                <div><strong>Sucessfull Launch:</strong>{{launchProgram.launch_success}}</div>
                <div><strong>Launch Date:</strong>{{launchProgram.launch_date_utc | date}}</div>
            </div>
        </div>
    </div>
</div>
    

<!-- {{lauchSuccessData|json}}  -->
